<section id = "confirmPage">
    <div class = "header">
        <h1>Shopping Cart &#128722;</h1>
    </div>
    
    <div class="noitems">
        <h3 id="noitems-text">Currently no items in &#128722;, add some &#127850; &#9749; first!</h3>
    </div>

    <div class="buttonDiv">
        <form action="/customer/menu" method="GET">
            <button type="submit" class="continueshopping" >Continue Shopping</button>
        </form>
    </div>

</section>