<section id = "confirmPage">
    <div class = "header">
        <h1>Order History &#129534;</h1>
    </div>
    
    <div class = "no-placed-order-text-div">
        <h1>&#9749;You currently have no placed orders...&#9749;</h1>
    </div>

    <div class = "buttonDiv-alt">
        <form action="/customer/customerPastOrder" method="GET">
            <button type="submit" class="seemypastorders" >See my past orders &#8594; </button>
        </form>
    </div>


    
</section>

