
<section id = "confirmPage">
    <div class = "header">
        <h1> Oops! &#128166;</h1>
    </div>
    
    <div class = "havent-signed-in">
        <h1>You haven't signed in&#128166; &nbsp;Please sign in first to proceed...&#9749;</h1>
    </div>

    <div class = "buttonDiv-alt">
        <form action="/customer/login" method="GET">
            <button type="submit" class="signin-now" >Sign In Now &#8594; </button>
        </form>
    </div>   
</section>