<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>hello-zeus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/vendor.css" />
</head>

<body id="app-container">
    <nav class="navbar fixed-top"></nav>
    </nav>
    
    <div class="menu">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    <li class="active">
                        <a href="/vendor/home">
                            <span>Start</span>
                        </a>
                    </li>
                    <li>
                        <a href="/vendor/fulfilling">
                            Order
                        </a>
                    </li>
                    <li>
                        <form action="/vendor/logout" method="GET" id="logout-button">
                            <button class="btn btn-primary" >logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sub-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    <li>
                        <a href="/vendor/openVan">
                            <span>Open store</span>
                        </a>
                    </li>
                    <li class ="active">
                        <a href="/vendor/closeVanPage">
                            Close store
                        </a>
                    </li>
                </ul>                 
            </div>
        </div>
    </div>
    
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="word">
                    <h1>Click button to close your store</h1>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="card">
                       <div class="card-body">
                        <form method="POST" action="/vendor/closeVan/">
                            <button class="btn btn-primary" type="submit">close</button>
                        </form>   
                        </div>
                    </div>
                </div>
            </div>    

        </div>      

    </main>        
 
</body>    

</html> 
 
 